In [2]:
import pandas as pd

Linki do danych:
- abalone - https://code.datasciencedojo.com/datasciencedojo/datasets/blob/master/Abalone/abalone.data.csv
- autompg - https://code.datasciencedojo.com/datasciencedojo/datasets/blob/master/Auto%20MPG/auto-mpg.data
- insurance - https://www.kaggle.com/datasets/mirichoi0218/insurance
- concrete - https://code.datasciencedojo.com/datasciencedojo/datasets/blob/master/Concrete%20Compressive%20Strength/Concrete_Data.xls

#### Abalone

In [45]:
abalone = pd.read_csv('../Data/abalone.csv', header=None)
abalone.columns = ['sex','length','diameter','height','whole_weight','shucked_weight','viscera_weight','shell_weight','rings']

In [46]:
abalone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4177 non-null   object
 1   length          4177 non-null   float64
 2   diameter        4177 non-null   float64
 3   height          4177 non-null   float64
 4   whole_weight    4177 non-null   float64
 5   shucked_weight  4177 non-null   float64
 6   viscera_weight  4177 non-null   float64
 7   shell_weight    4177 non-null   float64
 8   rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [48]:
abalone.sex.value_counts()

sex
M    1528
I    1342
F    1307
Name: count, dtype: int64

In [49]:
abalone = pd.get_dummies(abalone,columns=['sex'],drop_first=True,dtype=float)

In [50]:
abalone.to_csv('../Dane/abalone.csv',index=False)

#### Auto-mpg

In [55]:
autompg = pd.read_csv('../Data/auto-mpg.txt', header=None, delim_whitespace=True)
autompg.columns = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name']

In [56]:
autompg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [57]:
autompg.horsepower.unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [58]:
autompg = autompg.loc[autompg.horsepower!='?', :]
autompg.horsepower = autompg.horsepower.astype(float)

In [61]:
autompg.car_name.value_counts()

car_name
amc matador            5
ford pinto             5
toyota corolla         5
toyota corona          4
amc hornet             4
                      ..
buick skyhawk          1
chevrolet monza 2+2    1
ford mustang ii        1
pontiac astro          1
chevy s-10             1
Name: count, Length: 301, dtype: int64

In [62]:
autompg.drop('car_name',axis=1,inplace=True)

In [69]:
autompg.to_csv('../Dane/autompg.csv',index=False)

#### Insurance

In [82]:
insurance = pd.read_csv('../Data/insurance.csv')

In [83]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [84]:
insurance.sex.value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [85]:
insurance.smoker.value_counts()

smoker
no     1064
yes     274
Name: count, dtype: int64

In [86]:
insurance.region.value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [89]:
insurance = pd.get_dummies(insurance,columns=['sex','smoker','region'],drop_first=True,dtype=float)

In [90]:
insurance.to_csv('../Dane/insurance.csv',index=False)

#### Concrete

In [104]:
concrete = pd.read_excel('../Data/Concrete_Data.xls')
concrete.columns = ['cement','slag','ash','water','superplasticizer','coarse_aggregate','fine_aggregate','age','strength']

In [111]:
concrete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cement            1030 non-null   float64
 1   slag              1030 non-null   float64
 2   ash               1030 non-null   float64
 3   water             1030 non-null   float64
 4   superplasticizer  1030 non-null   float64
 5   coarse_aggregate  1030 non-null   float64
 6   fine_aggregate    1030 non-null   float64
 7   age               1030 non-null   int64
 8   strength          1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [112]:
concrete.describe()

,cement,slag,ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225

In [113]:
concrete.to_csv('../Dane/concrete.csv',index=False)